<h1>Things to do...</h1>

<div id="new">
    <div>
        <label for="name">Task</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="due">Deadline</label>
        <input type="datetime" id="due" value="{{now}}" />
    </div>
    <div>
        <button id="add">Add</button>
    </div>


</div>
<hr />
<div id="items"></div>